/* app/globals.css */

.slideshow-container {
  position: fixed; /* Fixes it to the viewport as a background */
  top: 0;
  left: 0;
  width: 100vw;
  height: 33vh;
  z-index: -1; /* Puts it behind all other content */
  overflow: hidden;
}

.bg-black-trans {
  background-color: #000;
  opacity: 50%;
}

.filter80 {
  filter: alpha(opacity=80);
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Hidden by default */
  transition: opacity 2s ease-in-out; /* Fade transition */
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.slideshow-image.active {
  opacity: 1; /* Active image is visible */
}

/* Optional: Add a subtle overlay to improve content readability */
.slideshow-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Dark overlay */
  z-index: 0;
}
