@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-antique: "CaslonAntique";
  --font-antique-bold: "CaslonAntiqueBold";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "CaslonAntiqueBold";
  src: url("/CaslonAntique-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CaslonAntique";
  src: url("/CaslonAntique.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
