@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-antique: "CaslonAntique";
  --font-antique-italic: "CaslonAntiqueItalic";
  --font-antique-bold: "CaslonAntiqueBold";
  --font-antique-bold-italic: "CaslonAntiqueBoldItalic";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "CaslonAntiqueBold";
  src: url("/CaslonAntique-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CaslonAntiqueBoldItalic";
  src: url("/CaslonAntique-BoldItalic.ttf");
}
@font-face {
  font-family: "CaslonAntiqueItalic";
  src: url("/CaslonAntique-Italic.ttf");
}
@font-face {
  font-family: "CaslonAntique";
  src: url("/CaslonAntique.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  /* 1. Set the background image URL */
  background-image: url("/HydraCoverFinal3800x3800.jpg");

  /* 2. Make the background image cover the entire viewport */
  background-size: cover;

  /* 3. Fix the image in place so it doesn't scroll with content */
  background-attachment: fixed;

  /* 4. Center the background image */
  background-position: center;

  /* 5. Prevent the image from repeating */
  background-repeat: no-repeat;

  /* 6. Ensure the body takes up at least the full height of the viewport */
  min-height: 100vh;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
