@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-antique: "CaslonAntique";
  --font-antique-bold: "CaslonAntiqueBold";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "CaslonAntiqueBold";
  src: url("/CaslonAntique-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CaslonAntique";
  src: url("/CaslonAntique.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slideshow-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fade-cycle 15s infinite; /* 15s for 3 images (5s each) */
  z-index: 100;
}
.slide1 {
  background-image: url("/HydraCoverFinal3800x3800.jpg");
  animation-delay: 0s;
  background-size: cover;
  background-position: center;
  z-index: 100;
}
.slide2 {
  background-image: url("/BDJeff.png");
  animation-delay: 5s;
  z-index: 100;
}
.slide3 {
  background-image: url("/aptt.png");
  animation-delay: 10s;
  z-index: 100;
}
@keyframes fade-cycle {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  } /* Stay visible */
  20% {
    opacity: 0;
  } /* Fade out */
  80% {
    opacity: 0;
  } /* Stay hidden */
  90% {
    opacity: 0.9;
  } /* Fade in */
  100% {
    opacity: 1;
  }
}
